.rent__by__body__container{
    padding: 1px 10px 4rem;
}

/* .body__card{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F3F1F2;
} */

.body__card-image{
    width: 4rem;
    aspect-ratio: 1/1;

}

@media screen and (min-width: 900px) {
    .rent__by__body__container{
        padding: 0 4rem 2rem;
    }

    .rent__by__grid{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 500px) and (max-width: 899px) {
    .rent__by__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}