/* .rent__by__card{
    background-color: #F3F1F2;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.rent__by__card .rent__by_icon svg{
    width: 3rem;
    height: 3rem;
}

@media screen and (min-width: 900px) {
    .rent__by__card{
        
    }

    .rent__by__card .rent__by_icon svg{
        width: 4rem;
        height: 4rem;
    }
}