.services-container{
    padding: 3rem 10px;
    margin: 4rem 0;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

.services_section__title{
    margin-bottom: 5rem;
    line-height: 1.1;
    text-align: center;
}

.service__list__grid{
    display: grid;
    row-gap: 2rem;
    margin-top: 2rem;
}

.service__list__item span svg{
    background-color: var(--white);
    color: var(--black);
    font-size: 3rem;
    padding: 12px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .list__item__description{
        padding: 0 3rem;
    }
}



@media screen and (min-width: 600px){
    .services-container{
        padding: 5rem 4rem;
    }

    .services-section-titl{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .service__list__grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .services-section-titl{
        padding: 0 15rem;
    }
}