.sort{
    /* border: 1px solid var(--black); */
    border: none;
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: var(--fs-300);
}

.sort svg{
    font-size: var(--fs-400);
}

@media screen and (min-width: 600px) {
    .filter-button{
        display: none;
    }
}