.testimonial__container{
    text-align: center;
    padding: 0 10px 3rem;
    line-height: 1.05;
}



@media screen and (min-width:900px) {
    .testimonial__container{
        padding: 4rem 4rem;
    }
}